einops
sentencepiece
transformers
einops
torch
datasets
transformers
sentencepiece
tqdm
pynvml
google-auth 
google-auth-oauthlib 
google-auth-httplib2
google-api-python-client
google-cloud-storage
huggingface_hub
wandb
google-cloud-sdk